:root {
  --font-color: #444;
  --font-color-light: white;
  --background-color: #eee;
  --card-color: #ddd;
  --input-color: white;
  --border-color: #444;
  --border-color-light: white;
  --success-color: mediumaquamarine;
  --success-color-dark: #52a488;
}

html {
  font-size: 62.5%;
}

body {
  margin: 4rem auto;
  padding: 0 2rem;
  line-height: 1.6;
  color: var(--font-color);
  background-color: var(--background-color);
}

h1, h3 {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

.app {
  margin: auto;
  max-width: 60rem;
}

.todo-item {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns:  1fr 6fr 1fr;
  padding: 2rem;
  display: grid;
  align-items: center;
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--card-color);
}

.bar {
  position: sticky;
  bottom: 2rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 8fr 2fr;
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--input-color);
  overflow: hidden;
}

.checkbox {
  appearance: none;
  margin: 0;
  height: 3rem;
  width: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--input-color);
  color: var(--font-color);
  cursor: pointer;
  transition: box-shadow 0.1s ease;
}

.checkbox:checked:after {
  height: 100%;
  content: "\2714";
  font-size: 2rem;
}

.checkbox:focus {
  outline: none;
}

.checkbox:focus-visible {
  box-shadow: 0 0 0 0.1rem var(--border-color);
}

.checkbox:active {
  box-shadow: 0 0 0 0.1rem var(--border-color);
}

.button {
  padding: 0;
  border: none;
  border-radius: 1rem;
  background-color: var(--border-color);
  font-size: 2rem;
  color: var(--font-color-light);
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.1s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 0 0 0 0.3rem var(--font-color-light);
}

.button:active {
  box-shadow: 0 0 0 0.3rem var(--font-color-light);
}

.button-remove {
  width: 5rem;
  height: 5rem;
  justify-self: end;
  border-radius: 1rem;
  line-height: 0;
  font-size: 2rem;
}

.button-submit {
  padding: 0 0.2rem;
  border-radius: 0;
  background-color: var(--success-color);
}

.button-submit:focus {
  box-shadow: none;
}

.button-submit:focus-visible {
  background-color: var(--success-color-dark);
}

.text-input {
  appearance: none;
  margin-right: 0.1rem;
  padding: 1.5rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 2rem;
  background-color: var(--input-color);
  color: var(--font-color)
}

.text-input:focus {
  outline: none;
}